* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* NAV BAR HEADER FIX */
header {
  background-color: #cecece;
  width: 100%;
  height: 70px;
  margin: 0;
  padding: 0;
}
.containernav {
  width: 80%;
  height: 70px;
  margin: 0 auto;
  border: 1px solid black;
  overflow: hidden;
}
.leftnav, .rightnav {
  padding: 25px;
}
.leftnav {
  width: 30%;
  float: left;
}
.rightnav {
  position: relative;
  width: 70%;
  float: right;
}
.rightnav ul {
  margin-top: 25px;
  position: absolute;
  right: 0;
  top: 0;
}
/* SEARCH BAR ICON + SEARCH */
.leftnav ul, .rightnav ul {
  padding: 0;
}
.leftnav ul li, .rightnav ul li {
  display: inline-block;
}
/* NAVBAR SUB */
.navhead {
  width: 100%;
  height: 70px;
  background-color: #fff;
}
.container {
  width: 80%;
  margin: 0 auto;
  height: 100%;
}
.subhead-left {
  width: 30%;
  float: left;
  height: 100%;
}
.subhead-left > img {
  margin-top: 20px;
}
.subhead-right {
  width: 70%;
  float: right;
}

/* TEXT BOX */
.txtbox {
  width: 100%;
  height: 550px;
  background: rgb(137,137,221);
  background: linear-gradient(13deg, rgba(137,137,221,1) 12%, rgba(0,255,136,1) 43%, rgba(116,83,5,1) 100%);
  border-bottom: 2px solid purple;
  position: relative;
}
.textbox {
  width: 30%;
  float: left;
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  word-wrap: break-all;
  color: #fff;
}
.textbox h2 {
  color: #fff;
  font-size: 60px;
  top: 60%;
  transform: translateY(-60%);
}
.textbutton button {
  width: 200px;
  height: 70px;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 5px;
  border: none;
  color: #33475b;
  font-weight: 400;
  font-size: 20px;
  font-family: sans-serif;
}
/* DICE BOX */
.dicebox {
  background: rgb(170,170,170);
  background: linear-gradient(31deg, rgba(170,170,170,1) 0%, rgba(102,107,105,1) 49%, rgba(252,252,252,1) 100%);
}
.contain-head {
  text-align: center;
}
.contain-head img {
  margin-top: 5%;
  max-width: 250px;
}
.contain-head h2 {
  font-size: 40px;
  font-family: times , comic;
  margin-bottom: 2%;
}
.contain-head p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 5%;
  word-wrap: break-word;
  word-break: all;
}
.bookcenter {
  background-color: #ffff;
  width: 960px;
  height: 300px;
}
.contain-mid-left img {
  max-width: 180px;
}
.contain-mid-left {
  width: 370px;
  height: 220px;
  float: left;
}
.contain-mid-right {
  width: 450px;
  height: 230px;
  float: right;
}
.bookcenter::after {
  clear: both;
  display: table;
  content: "";
}
