* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* NAV BAR HEADER FIX */
header {
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  width: 100%;
  height: 70px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid grey;
}
.containernav {
  width: 60%;
  height: 70px;
  margin: 0 auto;
  overflow: hidden;
}
.leftnav, .rightnav {
  padding: 25px;
}
.leftnav {
  width: 30%;
  float: left;
}
.rightnav {
  position: relative;
  width: 70%;
  float: right;
}
.rightnav ul {
  margin-top: 15px;
  position: absolute;
  right: 0;
  top: 0;
}
/* SEARCH BAR ICON + SEARCH */
.leftnav ul, .rightnav ul {
  padding: 0;
}
.leftnav ul li, .rightnav ul li {
  display: inline-block;
  padding-left: 10px;
}
.leftnav a, .rightnav a {
  text-decoration: none;
}
.leftnav a {
  color: #ffff;
}
.borderfa {
  border-right: 1px solid black;
  padding-right: 20px;
}
.login {
  background-color: #ffff;
  color: #ff7a59;
  border: 1px solid #ff7a59;
  width: 70px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
}
.gethubfree {
  background-color: #ff7a59;
  color: #ffff;
  width: 135px;
  height: 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* NAVBAR SUB */
.navhead {
  width: 100%;
  height: 70px;
}
.container {
  width: 60%;
  margin: 0 auto;
  height: 100%;
  font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.subhead-left {
  width: 30%;
  float: left;
  height: 100%;
}
.subhead-left > img {
  margin-top: 20px;
}
.subhead-right {
  width: 70%;
  float: right;
  margin-top: 30px;
  text-align: right;
}
.subhead-right a {
  text-decoration: none;
  padding: 15px;
  color: #33475b;
  font-weight: 400;
}
/* TEXT BOX */
.txtbox {
  width: 100%;
  height: 550px;
  background: #314755;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #26a0da, #314755);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #26a0da, #314755); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-bottom: 2px solid purple;
  position: relative;
}
.textbox {
  width: 30%;
  float: left;
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  word-wrap: break-all;
  color: #fff;
}
.textbox h2 {
  color: #fff;
  font-size: 60px;
  top: 30%;
  transform: translateY(-30%);
}
.textbutton p {
  font-size: 10px;
}
.textbutton button {
  width: 200px;
  height: 70px;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 5px;
  border: none;
  color: #33475b;
  background-color: #fff;
  font-weight: 400;
  font-size: 20px;
  font-family: sans-serif;
  cursor: pointer;
}
/* DICE BOX */
.dicebox {
  background: rgb(170,170,170);
  background: linear-gradient(31deg, rgba(170,170,170,1) 0%, rgba(102,107,105,1) 49%, rgba(252,252,252,1) 100%);
}
.contain-head {
  text-align: center;
}
.contain-head img {
  margin-top: 5%;
  max-width: 250px;
}
.contain-head h2 {
  font-size: 40px;
  font-family: times , comic;
  margin-bottom: 2%;
}
.contain-head p {
  text-align: center;
  font-size: 15px;
  margin-bottom: 5%;
  word-wrap: break-word;
  word-break: all;
}
.bookcenter {
  background-color: #ffff;
  width: 1000px;
  height: 250px;
}
.contain-mid-left img {
  margin-top: 10%;
  width: 205px;
  height: 150px;
}
.contain-mid-left {
  width: 370px;
  height: 220px;
  float: left;
  text-align: center;
  z-index: 1;
  position: relative;
}
.contain-mid-right {
  margin-top: 5%;
  width: 510px;
  height: 230px;
  float: left;
}
.bookcenter::after {
  clear: both;
  display: table;
  content: "";
}
.buttonmidleft {
  width: 130px;
  height: 40px;
  color: #ffff;
  font-size: 15px;
  background-color: #ff7a59;
  border: none;
  border-radius: 5px;
}
.contain-mid-right h2 {
  padding-bottom: 3%;
}
.contain-mid-right p {
  padding-bottom: 3%;
  font-size: 15px;
}
.orange {
  color: #ff7a59;
}
.contain-mid-right li {
  margin-top: 3%;
  padding: 10px;
  display: inline-block;
  text-decoration: none;
}
