* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* NAV BAR HEADER FIX */
header {
  background-color: #cecece;
  width: 100%;
  height: 70px;
  margin: 0;
  padding: 0;
}
.containernav {
  width: 80%;
  height: 70px;
  margin: 0 auto;
  border: 1px solid black;
  overflow: hidden;
}
.leftnav, .rightnav {
  padding: 25px;
}
.leftnav {
  width: 30%;
  float: left;
}
.rightnav {
  position: relative;
  width: 70%;
  float: right;
}
.rightnav ul {
  margin-top: 25px;
  position: absolute;
  right: 0;
  top: 0;
}
/* SEARCH BAR ICON + SEARCH */
.leftnav ul, .rightnav ul {
  padding: 0;
}
.leftnav ul li, .rightnav ul li {
  display: inline-block;
}
/* NAVBAR SUB */
.navhead {
  width: 100%;
  height: 70px;
  background-color: #fff;
}
.container {
  width: 80%;
  margin: 0 auto;
  height: 100%;
}
.subhead-left {
  width: 30%;
  float: left;
  height: 100%;
}
.subhead-left > img {
  margin-top: 20px;
}
.subhead-right {
  width: 70%;
  float: right;
}

/* TEXT BOX */
.txtbox {
  width: 100%;
  height: 550px;
  background-image: url("img/hubspot-background.jpg");
  background-size: cover;
  position: relative;
}
.textbox {
  width: 50%;
  float: left;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  word-wrap: break-all;
}
